{% load static %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'core:index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'core:index' %}">Homepage</a></li>
                            <li class="{% if '/category/' in request.path %}active{% endif %}"><a href="{% url 'categories:list' %}">Categories</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'users:logout' %}"><i class='fa fa-user' style='font-size:20px;color:red'></i></a>
                    {% else %}
                    <a href="{% url 'users:login' %}"><span class="icon_profile"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

</header>
<!-- Header End -->