{% extends 'base.html' %}
{% load static %}
<!-- Header Section Begin -->
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for movie in movies %}
                {% if forloop.counter < 6 %}
                <div class="hero__items set-bg" data-setbg="{{movie.banner.url}}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                {% for category in movie.category.all %}
                                {% if forloop.first %}
                                <div class="label">{{category.name}}</div>
                                {% endif %}
                                {% endfor %}
                                <h2>{{movie.title}}</h2>
                                <p>{{movie.description}}</p>
                                {% if movie.is_active %}
                                <a href="{{movie.get_add_to_watch_url}}"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Movies</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'movies:recent' %}" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for movie in recently_added_movies %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    {% for image in movie.images.all %}
                                    {% if forloop.first %}
                                    <div class="product__item__pic set-bg" data-setbg="{{image.image.url}}">
                                    {% endif %}
                                    {% endfor %}
                                        <div class="ep">{{movie.averageRating}} / {{movie.countReview}}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{movie.countReview}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>{{movie.type|capfirst}}</li>
                                            {% for category in movie.category.all %}
                                            {% if forloop.first %}
                                            <li><a class="text-white" href="{% url 'categories:movies' category.slug %}">{{category.name}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <h5><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Movies</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'movies:popular' %}" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for movie in popular_movies %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    {% for image in movie.images.all %}
                                    {% if forloop.first %}
                                    <div class="product__item__pic set-bg" data-setbg="{{image.image.url}}">
                                    {% endif %}
                                    {% endfor %}
                                        <div class="ep">{{movie.averageRating}} / {{movie.countReview}}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{movie.countReview}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>{{movie.type|capfirst}}</li>
                                            {% for category in movie.category.all %}
                                            {% if forloop.first %}
                                            <li><a class="text-white" href="{% url 'categories:movies' category.slug %}">{{category.name}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <h5><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if watchlist_movies %}
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Watchlist Movies</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'users:watchlist' %}" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for movie in watchlist_movies %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    {% for image in movie.images.all %}
                                    {% if forloop.first %}
                                    <div class="product__item__pic set-bg" data-setbg="{{image.image.url}}">
                                    {% endif %}
                                    {% endfor %}
                                        <div class="ep">{{movie.averageRating}} / {{movie.countReview}}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{movie.countReview}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>{{movie.type|capfirst}}</li>
                                            {% for category in movie.category.all %}
                                            {% if forloop.first %}
                                            <li><a class="text-white" href="{% url 'categories:movies' category.slug %}">{{category.name}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <h5><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                            </ul>
                            <div class="filter__gallery">
                                {% for movie in movies %}
                                <div class="product__sidebar__view__item set-bg mix day years" data-setbg="{{movie.banner.url}}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> {{movie.countReview}}</div>
                                <h5><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h5>
                                {% endfor %}
                            </div>    
                        </div>
                    </div>
                </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>Inactive Movies</h5>
        </div>
        {% for movie in movies %}
        {% if movie.is_active is False %}
        {% if forloop.counter < 6 %}
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img width="90" src="{% for image in movie.images.all %}{% if forloop.first %}{{image.image.url}}{% endif %}{% endfor %}" alt="{{movie.slug}}">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Inactive</li>
                    <li>{{movie.type|capfirst}}</li>
                </ul>
                <h5><a href="{{movie.get_absolute_url}}">{{movie.title}}</a></h5>
                <span><i class="fa fa-eye"></i>{{movie.countReview}}</span>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->




{% endblock content %}
