{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .rate>input {
        display: none;
    }
    
    .rate {
        display: inline-block;
    }
    
    .rate>label {
        float: right;
    }
    
    .rate>label::before {
        display: inline-block;
        font-size: 1.1rem;
        font-family: FontAwesome;
        content: "\f005";
        margin: 0;
        padding: 0.1rem 0.2rem;
        cursor: pointer;
    }
    
    .rate .half::before {
        content: "\f089";
        position: absolute;
        padding-right: 0;
    }
    
    input:checked~label,
    label:hover~label {
        color: #ffb503;
    }
    
    input:checked+label:hover,
    input:checked~label:hover,
    input:checked~label:hover~label,
    label:hover~input:checked~label {
        color: #cc9000;
    }
    
    .rating i {
        color: #ffb503;
    }
    
</style>
{% endblock css %}
{% block content %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'core:index' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="./categories.html">Categories</a>
                        {% for category in movie.category.all %}
                        {% if forloop.first %}
                        <span>{{category.name}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        {% for image in movie.images.all %}
                        {% if forloop.first %}
                        <div class="anime__details__pic set-bg" data-setbg="{{image.image.url}}">
                        {% endif %}
                        {% endfor %}
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{movie.title}}</h3>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <span>{{movie.countReview}} Vote{{movie.countReview|pluralize}}</span>
                            </div>
                            <p>{{movie.description}}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span> {{movie.type}}</li>
                                            <li><span>Studios:</span> Lerche</li>
                                            <li><span>Released date:</span> {{movie.date_aired}}</li>
                                            <li><span>Scores:</span> 7.31 / 1,515</li>
                                            <li><span>Rating:</span> 8.5 / 161 times</li>
                                            <li>
                                                <span>Genre:</span>
                                                {% for category in movie.category.all %}
                                                {{category.name}}, 
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                                <a href="{{movie.get_add_to_watch_url}}" class="watch-btn"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            {% for review in movie.reviews.all %}
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="{% static 'img/anime/review-1.jpg' %}" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>{{review.full_name}} - <span>{{review.created|timesince}} ago</span></h6>
                                    <div class="rating">
                                        <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"></i>
                                    </div>
                                    <p>{{review.subject}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="{% url 'reviews:submit_review' movie.pk %}" method="POST">
                                {% csrf_token %}
                                <div class="rate">
                                    <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                                    <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" class="half" title="4.5"></label>
                                    <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                                    <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" class="half" title="3.5"></label>
                                    <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                                    <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" class="half" title="2.5"></label>
                                    <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                                    <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" class="half" title="1.5"></label>
                                    <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                                    <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" class="half" title="0.5"></label>
                                </div>
                                <input class="form-control mb-2" type="text" placeholder="Subject" name="subject">
                                <textarea placeholder="Review" name="review"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-1.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-2.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-3.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="{% static 'img/sidebar/tv-4.jpg' %}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Anime Section End -->
{% endblock content %}